Verso.Net.Commons/Service References/OctopusSvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Verso.Net.Commons" />
  <xs:element name="ExecuteServiceBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Verso.Net.Commons" minOccurs="0" name="verso" nillable="true" type="q1:Verso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteServiceBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Verso.Net.Commons" minOccurs="0" name="ExecuteServiceBlockResult" nillable="true" type="q2:Verso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>