Verso.Net.Commons/Service References/OctopusSvc/Verso.Net.Commons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Verso.Net.Commons" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Verso.Net.Commons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Verso">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataVersoExtension" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ServiceBlock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeVerso" nillable="true" type="tns:ServiceTypeGeneric" />
      <xs:element minOccurs="0" name="Verb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Verso" nillable="true" type="tns:Verso" />
  <xs:complexType name="ServiceTypeGeneric">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTypeGeneric" nillable="true" type="tns:ServiceTypeGeneric" />
</xs:schema>